/* Obsolete definitions, kept for backwards compatibility */
span.FootMarker {
	color: #0030c0;
	font-size: 0.75em;
	line-height: 0.5em;
	vertical-align: text-top;
}
span.Foot {
	margin: 0.2ex;
	border: thin solid #c0c0c0;
	background: #ffffff;
	padding: 0.5ex;
	font-size: small;
	font-weight: normal;
	line-height: 1.5em;
	text-align: left;
}
span.FootOuter .Foot {
	display: none;
	position: absolute;
}
span.FootOuter:hover .Foot {
	display: inline;
	float: none;
}
span.dotted {
	border-top: thin dotted;
}
span.numerator-l {
	display: block;
	text-align: left;
}
span.numerator-r {
	display: block;
	text-align: right;
}
span.numeratorl {
	display: block;
	text-align: left;
}
span.numeratorr {
	display: block;
	text-align: right;
}
span.framebox- {
	display: inline-block;
	border: thin solid black;
	text-align: center;
	padding: 5px;
}
span.framebox-l {
	display: inline-block;
	border: thin solid black;
	text-align: left;
	padding: 5px;
}
span.framebox-r {
	display: inline-block;
	border: thin solid black;
	text-align: right;
	padding: 5px;
}
td.formula-l {
	text-align: left;
	padding: 0.2ex;
	border: 0ex;
}
td.formula-c {
	text-align: center;
	padding: 0.2ex;
	border: 0ex;
}
td.formula-r {
	text-align: right;
	padding: 0.2ex;
	border: 0ex;
}
