/* Obsolete definitions, kept for backwards compatibility */
span.FootMarker {
	color: #0030c0;
	font-size: 0.75em;
	line-height: 0.5em;
	vertical-align: text-top;
}
span.Foot {
	margin: 0.2ex;
	border: thin solid #c0c0c0;
	background: #ffffff;
	padding: 0.5ex;
	font-size: small;
	font-weight: normal;
	line-height: 1.5em;
	text-align: left;
}
span.FootOuter .Foot {
	display: none;
	position: absolute;
}
span.FootOuter:hover .Foot {
	display: inline;
	float: none;
}
span.dotted {
	border-top: thin dotted;
}
